# Ignore virtual environments, model output, training runs
venv/*
model/*
runs/*

# Don't ignore the trained model file
!model/sheep-detector.pt
!model/sheep-detector+preprocessing.pt
!model/sheep-detector+preprocessing+augmentation.pt

notebooks/yolo11n.pt

